<h1>Login<h1>



<h2>Please Login. You Must First Register Before Loggin In. </h2>

<form action='/login' method='post'>
  <p>Name: <input type='text' name='username' id= 'username'></p>
  <p>Email: <input type='text' name='email' id= 'email'></p>
  <p>Password: <input type='text' name='password' id='password'></p>
  <input class= 'btn btn-primary' type= 'submit'>
</form>

 <% end %>
