<h1>Here's the Login Form that should Display</h1>
<h2>It's in Views/Student/Login.erb</h2>


<!-- <label for="name">user name:</label> -->

<form action='/login' method='post'>
  <p>Name: <input type='text' name='username' id='text'></p>
  <p>Email: <input type='text' name='email' id='text'></p>
  <p>Password: <input type='text' name='password' id='password'></p>
  <input class= 'btn btn-primary' type='submit' value='submit'>
</form>
