<!-- <!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>This is the Login Form</title>
 </head>
 <body> -->

<h1>Login Form Header #1<h1>

<h2>Please Login Header #2</h2>
<!-- <label for="name">user name:</label> -->

<form action='/login' method='post'>
  <p>Name: <input type='text' name='username' id='text'></p>
  <p>Email: <input type='text' name='email' id= 'text'></p>
  <p>Password: <input type='text' name='password' id='password'></p>
  <input class= 'btn btn-primary' type='submit' value='submit'>
</form>

 <!-- <% end %> -->
