<html>
 <head>
    <meta charset="UTF-8">
    <title>This is the LOGIN Form</title>
 </head>
 <body>

<h1>Here's the Login Form that should Display</h1>
<h1>Muffins</h1>
<h2>It's in Views/Student/Login.erb</h2>


<!-- <label for="name">user name:</label> -->

<form action='/login' method='post'>
  <p>Name: <input type='text' name='username' id='text'></p>
  <p>Password: <input type='password' name='password' id='password'></p>



  <input class= 'btn btn-primary' type='submit' value='submit'>


      </form>
    </head>
  </body>
</html>
