<h1>Logout<h1>
<h2>Finally! The Logout</h2>
<h3>"Want to Log Out, <%=@student.name%>?"</h3>

<h2>Logout.  We'll see you again soon. </h2>

<form action='/logout' method='post'>
  <!-- <input class= 'btn btn-primary' type='submit'> -->
<a href='/logout'>Log Out Here</a>
<!-- <a href='/session/logout'>Log Out Here</a> -->

</form>

<!-- Per JP, ok to remove Submit Button from Logout. -->
