<h1>Logout<h1>

<h1>Logout.  We'll see you again soon. </h1>

<form action='/logout' method='post'>
  <!-- <input class= 'btn btn-primary' type='submit'> -->
<a href='/logout'>Log Out Here</a>


</form>

<!-- Per JP, ok to remove Submit Button from Logout. -->
