<h1>Students</h1>


<h2> Welcome to your First Step. Please Register Here. </h2>

<form action= '/registration' method='post'>
  <p>Name: <input type-='text' name='text' id='text'></p>
  <p>Email: <input type='text' name='email' id='text'></p>
  <p>Password: <input type='text' name='password' id='password'></p>
  <input class='btn btn-primary' type='submit' value='submit'>
</form>
