<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>New College</title>
  </head>

  <body>

        <h1>Create New College</h1>
          <!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z"> -->
        <p></p>

    <form method="POST" action='/college'>
      <!-- <label for='name'>College Name</label> -->
      <p> Name: <input type='text' id='college' name='college'></p>
      <p>Region:<input type='text' id='region' name='region'></p>
      <input type='submit' id='submit' value='submit'>
      <!-- <input type='button' value='submit'  -->
    </form>

  </body>

</html>

***********
<form method="POST" action="/recipes">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" />

  <label for="ingredients">Ingredients</label>
  <input type="text" id="ingredients" name="ingredients" />

  <label for="cook_time">Cook Time</label>
  <input type="text" id="cook_time" name="cook_time" />

  <input type="submit" value="submit" />
</form>
*************
