<h1>Edit a College</h1>
<h2>This is app/views/college/edit.erb</h2>

<form action="/colleges/<%=@college.id%>" method="POST">
  <input id='hidden' type='hidden' name='_method' value='patch'/>

  <label for='name'>Name</label>
  <input type='text' id='name' name='college[name]' value='<%=@college.name%>'/>

  <label for='region'>Region</label>
  <input type='text' id='region' name='college[region]' value='<%=@college.region%>'/>


  <!-- <input type='submit' value='submit'/> -->
  <input type="submit" value="Edit College">
</form>
