
<h1>Update Your College</h1>
<h2>Mangoes</h2>


<form action="/college/<%=@college.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<!-- <label>Name:</label> -->


<p> College Name: <input type='text' id='name' name='name'></p>
<input type='submit' id='submit' value='submit'>


</form>
