
<h1>Update My College</h1>
<% if logged_in? && @college.student == current_student%>

<h1>Welcome to Update/Edit College<%="#{current_student.username}"%></h1>

<h3>My College: <%= current_student %></h3>

<form action="/college/<%=@college.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <body id="page-top">
  <p> College Name: <input type='text' id='name' name='name' value='<%=@college.name%>'></p>
  <input type='submit' id='submit' value='submit'>
</form>

<% end %>

    <h4><a href="/logout">Log Out</a></h4>

</body>
