
<h1>Update Your College</h1>
<h2>Mangoes</h2>


<form action="/college/<%=@college.id%>" method="POST">

<input type="text" name="college[name]" id="college_name" value="<%=@college.name%>">

<p> College Name: <input type='text' id='name' name='name'></p>
<br><p>Region: <input type='text' id='region' name='region'></p><br>
<input type='submit' id='submit' value='submit'>

</form>
