
<form method='POST' action='/colleges/<%=@college.id%>'>
  <input id='hidden' type='hidden' name='_method' value='patch' />

  <label for='name'>Name</label>
  <input type='text' id='name' name='name' value='<%=@college.name%>'/>

  <label for='region'>Region</label>
  <input type='text' id='region' name='region' value='<%=@college.region%>'/>

  <input type='submit' value='submit'/>
</form>
