 <h1> This is Index, views/college/index Colleges-app/views/colleges/index.erb</h1>

  <ul>
  <% @colleges.each do |college| %>
     <li><a href="/college/<%= college.id %>"><%= college.name %></a></li>


    <% if college.name%>
    Name: <%= college.name %>
    Region: <%= college.region %>
    <% end %>

  <% end %>
  </ul>
