<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>New College</title>
  </head>

  <body> -->

        <h1>Create New College</h1>
        <h2>This is Views/College/New.erb</h2>
          <!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z"> -->
        <p></p>

    <form method="POST" action='/college'>
      <!-- <label for='name'>College Name</label> -->
      <p> Name: <input type='text' id='name' name='name'></p>
      <p>Region:<input type='text' id='region' name='region'></p>
      <input type='submit' id='submit' value='submit'>
      <!-- <input type='button' value='submit'  -->
    </form>

    <ul>
      <li><a href="/college/new">Make a New College</a></li>
      <li><a href="/colleges">See All of the Colleges</a></li>
    </ul>
