        <h1>Create a           New College</h1>

        <p></p>

     <form method='POST' action='/college'>

      <p> College Name: <input type='text' id='name' name='name'></p>
      <br><p>Region: <input type='text' id='region' name='region'></p><br>
      <input type='submit' id='submit' value='submit'>

    </form>
    <br><br>

    <ul>
      <li><a href="/college/new">Make a New College</a></li>
      <!-- <br><li><a href="/colleges">See All of the Colleges</a></li><br> -->
    </ul>
