<h1>The College<h1>

<p><h2><%=@college.name%></h2></p>
<p><h2><%=@college.region%></h2></p>

<%if @college.student == current_student%>

<a href="/college/<%=@college.id%>/edit">Edit This College</a>
<p></p>

<form method='post' action='/college/<%=@college.id%>'>
    <input id='hidden' type='hidden' name='_method' value='DELETE'>
    <input type='submit' id= "Delete College" value='delete a college'>
</form>

<%end%>
