<h1>My One New College<h1>

<p><%=@college.name%></p>
<p><%=@college.region%></p>

    <input id='hidden' type='hidden' name='_method' value='PATCH'>


<a href="/college/<%=@college.id%>/edit">Edit This College</a>
<p></p>

  <form method='post' action='/college/<%=@college.id%>'>
    <input id='hidden' type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='delete a college'>
  </form>
