<h1>Your 1 College<h1>
<h2>This is views/college/SHOW</h2>


<p><%=@college.name%></p>
<p><%=@college.region%></p>

<a href="/college/<%=@college.id%>/edit">Edit This College</a>
<p></p>

  <!-- <form method='post' action='/college/<%=@college.id%>'> -->
    <form method='post' action='/college/:id/delete'>

    <input id='hidden' type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='delete'>

  </form>
  
