<h1>This is views/college/SHOW</h1>
<h2>Form Should Display 1 College</h2>


<p><%=@college.name%></p>
<p><%=@college.region%></p>

<a href="/college/<%=@college.id%>/edit">Edit This College</a>
<p></p>

  <!-- <form method='post' action='/college/<%=@college.id%>/delete'> -->
    <form method='post' action='/college/:id/delete'>

    <input id='hidden' type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Delete a College'>

  <p></p>

  </form>
