<h1>Welcome to College Bound</h1>
<h4>Whole Enchilada Index.erb</h4>
<h2>Are you New? Please Register Below</h2>
<h2>Otherwise, Login</h2>


<!-- <ul>
  <li><a href="/college/new">Make a New College</a></li>
  <li><a href="/colleges">See All of the Colleges</a></li>
</ul> -->


<p><a href="/registration">Register Here</a></p>
<p><a href="/login">Login Here</a></p>


<!-- 5/10/19 Make label inside to show that User is logging in (create button) -->
