<h1>College Bound List</h1>

<form action='/' method='post'>

  <!-- <textarea name="user_text"></textarea> -->
  <br>
  <button type='submit' value='submit'>Submit</button>
</form>


<!-- <ul>
<% @colleges.each do |college|%>
  <li>
    <a href="/colleges/<%= college.id %>">Name: <%= college.name %></a>
    Name: <%= college.name %>
    Region: <%= college.region %>
  </li>
<% end %>
</ul> -->
