<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>CollegeBound</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
    <div class="wrapper">
    <% if logged_in? %>
    <%=current_student.username%>
    <a href="/logout"> Logout</a>
    <a href="/college"> The List of Colleges</a>
    <% end %>

        <%= yield %>

    </div>
  </body>
</html>
